# Python Basics
Python Fundamentals variables

Python coding

In [2]:
print("hello vatsal")

hello vatsal

# Python Variables

In [1]:
var1 = "shubham"
a = 20
b = 50
print(var1)
print(a)
print(b)

sum =a+b
print(sum)

shubham
20
50
70

In [6]:
var1 = 10
var2= 10


var3= var1 + var2
var4= var1 - var2
var5= var1 * var2
var6= var1 / var2


print(var3)
print(var4)
print(var5)
print(var6)

20
0
100
1.0

In [2]:
a = 100
b = 20
c = "Shubham"

x,y,z = 1,2,"ABCD"

print(a,b,c , sep=",") 

print(x,y,z  , sep=",")

100,20,Shubham
1,2,ABCD

In [11]:
a=b=c=1
a
b
c

print(a,b,c)

1 1 1

In [12]:
s,d,f=12,13,14
f

14

In [13]:
del f

In [14]:
f

NameError: name 'f' is not defined

# Data Types
numerical data type in float complex

In [3]:
a=67
b=99.9999
c=3.14j
d="Shubham"
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# How to take input from user

In [2]:
##ask user to enter the value of x and store the variable
x = int(input("enter the value of x: "))


##ask user to enter the value of y and store the variable
y = int(input("enter the value of y: "))

##peform any mathematical operation on user input

z =x*y

##print the ans

z

enter the value of x: 10
enter the value of y: 10

100

In [7]:
str1="i like python programing "

str1

'i like python programing '

In [10]:
str2="number one"
str2

'number one'

In [11]:
str3=str1+str2
str3

'i like python programing number one'

In [4]:
##string indexing and slicing

name ="Shubham"
print(name)
print(len(name))

Shubham
7

In [5]:
name[0]

'S'

In [6]:
name[-1]

'm'

In [8]:
name1="my name is Shubham"
print(name1)
print(len(name1))

print("-----(+ev index)-----")

print(name1[1])
print(name1[3])
print(name1[5])
print(name1[7])

print("-----(-ev index)-----")

print(name1[-5])
print(name1[-7])
print(name1[-1])
print(name1[-3])

my name is Shubham
18
-----(+ev index)-----
y
n
m

-----(-ev index)-----
u
S
m
h

In [6]:
z="my name is shubham"

In [8]:
z[3]

'n'

In [9]:
z[5:9]

'me i'

In [13]:
z[-3:-1]

'ha'

In [15]:
z[-7:]

'shubham'

# string formatting

In [22]:
#positional formatting 

str1="{1} {0} {2}".format ('python', 'programming', 'language')

print("\n print string in positional order ")
print(str1)

 print string in positional order
programming python language

# Python list

In [23]:
my_list=[1,2,3,4,5]

In [24]:
my_list

[1, 2, 3, 4, 5]

In [25]:
type(my_list)

list

In [26]:
type(my_list[0])

int

In [27]:
x=[1,2,2.3,4.3,"hello"]

In [28]:
x

[1, 2, 2.3, 4.3, 'hello']

In [31]:
x[1]

2

In [32]:
x[-1]

'hello'

In [35]:
x[4]="hi"

In [36]:
x[4]

'hi'

In [37]:
x

[1, 2, 2.3, 4.3, 'hi']

In [39]:
x=input("input a value")
y=input("input a value")

input a value10
input a value21

In [40]:
x+y

'1021'

In [41]:
x=int(x)

In [42]:
y=int(y)

In [43]:
x+y

31

# Tuples

In [48]:
A=(1,2,3,4,5)
B=(6,7,8,9,10)

In [49]:
type(B)

tuple

In [50]:
A+B

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [51]:
A*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [52]:
A[0]

#use only [] for indexing

1

In [54]:
A[4]

5

# Python dictionary

In [55]:
emp1={}

In [56]:
type(emp1)

dict

In [57]:
emp1["name"]="Shubham"
emp1["age"]=21
emp1["Gender"]="M"

In [58]:
emp1

{'name': 'Shubham', 'age': 21, 'Gender': 'M'}

In [60]:
emp1[1]
#indexing not possible

KeyError: 1

In [62]:
emp1.keys()

dict_keys(['name', 'age', 'Gender'])

# python loops

In [8]:
count = 0
while(count<9):
    print("the count is: ", count)
    count = count+1
    print("Good bye")

the count is:  0
Good bye
the count is:  1
Good bye
the count is:  2
Good bye
the count is:  3
Good bye
the count is:  4
Good bye
the count is:  5
Good bye
the count is:  6
Good bye
the count is:  7
Good bye
the count is:  8
Good bye

In [11]:
count = 0
while(count<5):
    count = count+1
    print("PROTEEN")

PROTEEN
PROTEEN
PROTEEN
PROTEEN
PROTEEN

# while else

In [15]:
count = 0
while count < 5 :
        print(count,"is less than 5")
        count = count +1
else:
        print(count,"is less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is less than 5

# for loop

In [21]:
for letter in 'python':
    print("current letter:",letter)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [25]:
N=['apple','mango','banana']
for fruit in N :
    print("current fruit",fruit)

current fruit apple
current fruit mango
current fruit banana

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(10,20):
    for i in range(2,num):
        if num%i ==0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
            break 
        else:
            print(num,'is a prime number')
            break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [48]:
from math import pi
pi

3.141592653589793

In [49]:
pi

3.141592653589793

In [55]:
r=5
area=pi*r*r
print(area)

78.53981633974483

# conditional statement

In [56]:
#if statement

num =5 
if num>0:
    print(num,'is positive number')
print('statement is true')

5 is positive number
statement is true

In [58]:
num = -5 
if num>0:
    print(num,'is positive number')
else:
    print(num,'is negative number')

-5 is negative number

In [67]:
num =0 
if num>=0:
    if num==0:
        print(num,'is zero')
    else:
        print(num,'is positive number') 
else:
        print(num,'is negative number')

0 is zero

# calculator

In [5]:
#create function for each operation
#this function add two number 

def add(x,y):          #def for defining function 
    return x+y 

#this function substraction two number 

def subtract(x,y):           
    return x-y 

#this function multiply two number 

def multiply(x,y):           
    return x*y 

#this function division two number 

def divide(x,y):           
    return x/y 

print("select operation")
print("1.Addition")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice=input("Enter choice (1,2,3,4):")

num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))

if choice == '1':
    print(num1,'+',num2,'=',add(num1,num2))
elif choice =='2':
    print(num1,'-',num2,'=',subtract(num1,num2))
elif choice =='3':
    print(num1,'*',num2,'=',multiply(num1,num2)) 
elif choice =='4':
    print(num1,'/',num2,'=',divide(num1,num2))
    
else:
    print("Invalide Input")

select operation
1.Addition
2.Subtract
3.Multiply
4.Divide
Enter choice (1,2,3,4):5
Enter the first number:33
Enter the second number:33
Invalide Input